/* 
Copyright 2024 AzureTecDevs
Use of this code comes with the Blue Oak Model license; if not included contact azuretecdevs@gmail.com.
*/


body {
    font-family: Arial;
    }
    .inline {
    display: inline-block;
    }
    .right {
    float: right;
    }
    iframe {
    border: 2px solid #000;
    }
    button {
    border-radius: 3px;
    border: 2px solid rgb(200,200,200);
    padding: 4px;
    background-color: rgb(240,240,240);
    font-weight: 400;
    font-style: normal;
    }
    button:hover {
    border-radius: 3px;
    border: 2px solid rgb(0,200,200);
    padding: 4px;
    background-color: rgb(230,230,230);
    }
    embed {
    border: 2px solid #000;
    }
    select {
    border: 2px solid #000;
    }
    .border-solid {
    border: 2px solid #000;
    }
    .hidden {
    display: none;
    }
    .show {
    display: block;
    }